
h1 {
    background-color: #0e5135;
    border: 0;
    color: 	#d4ce46;
    font-family: Impact, Arial, "Times New Roman";
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 100%;
}

body {
    background-color: #0d9263;
    border: 0;
    margin: 0;
    padding: 0;
}

.game-intro {
    background-image: url(zelda-overworld.png);
    height: 500px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.overlay {
    background-color: black;
    height: 500px;
    margin: 0 auto;
    opacity: 0.5;
    padding: 0;
    width: 100%;
}


